<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro de Usuário | GE</title>
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
        <link rel="stylesheet" href="/styles/cadastrousuario.css" media="all">
    </head>
    <body>
        <h1>Registrar um novo usuário</h1>
        <form action="/usuario/salvar" method="post">
            <label>Nome de Usuário: </label>
            <input id="username" name="username" type="text"> <br>

            <label>Email: </label>
            <input id="email" name="email" type="text"> <br>

            <label>Password: </label>
            <input id="password" name="password" type="password"> <br>

            <label>Tipo de Usuário:</label>
            <select id="role" name="role">
                <option value="ADMIN">Administrador</option>
                <option value="PROFESSOR">Professor</option>
                <option value="ALUNO">Aluno</option>
            </select> <br>

            <input type="submit" value="Enviar">
        </form>
    </body>
</html>
