<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Turma</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/styles/turmacadastrar.css" media="all">
</head>
<body>
    <h2>Digite os dados do turma:</h2>
    <form action="" method="post">
        <input th:if="${turma != null}" type="hidden" name="_method" value="put">
        <input type="hidden" name="id" th:value="${turma?.getId()}">

        Nome da Turma: <input name="nome" th:value="${turma?.getNome()}"> <br>
        Sala/Turno/Descrição: <input name="local" th:value="${turma?.getLocal()}"> <br>

        <p>Alunos da turma: (marque para adicionar e desmarque para remover um aluno) </p>
        <div th:each="aluno : ${alunos}">
            <label>
                <input type="checkbox" th:checked="${aluno.getTurma() != null}"
                       th:value="${aluno.getId()}" name="membros">
                <span th:text="${aluno.getNome()}"></span>
            </label>
        </div>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>