<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Página inicial | GE</title>
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
        <link rel="stylesheet" href="/styles/home.css" media="all">
    </head>

    <body>

        <header class="headerDashboard">
            <div>
                <img src="/assets/menu.png" alt="Menu Lateral" style="height: 7vh"/>
                <h2>GE</h2>
            </div>
        </header>

        <div class="navigation">
            <a href="home.html"><img src="/assets/home.svg" style="height: 3vh"></a>
            &nbsp; /
        </div>

        <div class="labelInfo">
            <h1>🚫Acesso negado</h1>
            <h4>Você não possui as permissões necessárias para acessar este recurso.</h4>
        </div>



    </body>
</html>