<!DOCTYPE html>
<html lang="pt-br"
    xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa | GE</title>
</head>
<body>
    <label>Aluno</label> <br>
    Id: <label th:text="${aluno.getId()}"></label><br>
    Nome:  <label th:text="${aluno.getNome()}"></label><br>
    Idade:  <label th:text="${aluno.getIdade()}"></label><br>
<!--    Peso:  <label th:text="${aluno.getPeso()}"></label><br>-->
<!--    Altura:  <label th:text="${aluno.getAltura()}"></label><br>    -->
</body>
</html>