@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

::-webkit-scrollbar {
    background-color: #bdbdbd;
    border-radius: 5px;
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #a8e1b3e5;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgb(139, 139, 139/ 70%);
}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    transition: all ease 0.3s;
    box-sizing: border-box;
}

html,body {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    background-color: rgb(244 244 244 / 84%);
    height: 100vh;
    width: -webkit-fill-available;
    margin: 0;
    text-decoration: none;
}

.headerDashboard {
    display: flex;
    justify-content: space-between;
    padding: 1vh;
    background-color: #38761d;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
    box-sizing: border-box;
}

.headerDashboard div{
    display: flex;
    align-items: center;
}

.userProfilePicture {
    height:5vh;
    border-radius: 5vh;
}

.navigation {
    width: -webkit-fill-available;
    height: 5%;
    background-color: #8f8f8f70;
    color: black;
    border-radius: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1vh;
    padding: 1vh;
}

.labelInfo{
    display: flex;
    align-items: center;
    padding-left: 2vh;
}

.navigationBar{
    display: flex;
    justify-content: space-around;
    padding: 1vh;
    padding-bottom: 2vh;
    background-color: #38761d;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;

    position: fixed; /*por enquanto fixed, quando a página tiver conteudo suficiente, usar sticky*/
    bottom: 0;
    width: 100%;
    z-index: 99;
    box-sizing: border-box;
}

.buttonNavigationBar {
    height: 7vh;
    width: 7vh;
    background-color: rgb(123 156 120 / 50%);
    border-radius: 30%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buttonNavigationBar img {
    height: 5vh;
}



.card {
    width: -webkit-fill-available;
    /* height: 50%; */
    background-color: #a0a0a03d;
    color: black;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 2vh;
    gap: 2vh;
    margin: 2vh;
}



.formStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.formStyle input[type="text"],
.formStyle input[type="password"] {

    padding: 1vh;
    font-size: large;
    font-weight: 700;
    border-radius: 1vh;
    border: none;
}

.formStyle input[type="text"]:hover,
.formStyle input[type="password"]:hover {

    text-shadow: 0.5px 0.5px 0 black;
}

.formStyle input[type="submit"] {
    padding: 1vh 2vh;
    background-color: #38761d;
    color: #ffffff;
    border: solid;
    border-radius: 1vh;
    font-size: medium;
    font-style: italic;
    font-weight: 700;
    border-width: 2px;
    cursor: pointer;
}

.formStyle input[type="submit"]:hover {
    background-color: #2e6317;
    text-decoration: underline;
}

.error {
    color: #96300f;
    text-decoration: underline;
    font-weight: 700;
}